<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>menubar-exchange-rate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A504D5021CF3501C00A37D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A504D5111CF3501D00A37D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A504D51C1CF3501D00A37D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
